html {
    zoom: 88%;
}
body, html, #root, .container-fluid, .row.full-height {
    height: 100%;
}

div.red {
    color: red;
    font-size: 0.75em;
}

input.form-control.form-control-sm::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
}

input.form-control.form-control-sm::-moz-placeholder { /* Firefox 19+ */
    color: gray;
}

input.form-control.form-control-sm:-ms-input-placeholder { /* IE 10+ */
    color: gray;
}
 
input.form-control.form-control-sm:-moz-placeholder { /* Firefox 18- */
    color: gray;
}

.borderBottomExceptLast{
    border-bottom: 1px solid rgba(236, 233, 233, 0.125)
}

.borderBottomExceptLast:last-child{
    border-bottom: none;
}